extends layout

block content
 body.text-center
  div.container
    div.text-center.text-red
     h2 #{message}
    //div.divLaterales 
    div.centrarElementosDiv
      div
        form(method = "post", action = "/signup")
         p Nombre <br>
          input(type = "text", name = "name" value = '#{messageNombreNull}')
          <br> 
          span.text-danger #{msgNombre}
          <br>
         p Primer Apellido <br>
          input(type = "text", name = "apellido1" value = '#{messageApellido1Null}')
          <br>
          span.text-danger #{msgApellido1}
          <br>
         p Segundo Apellido <br>
          input(type = "text", name = "apellido2" value = '#{messageApellido2Null}')
          <br> 
          span.text-danger #{msgApellido2}
          <br>
         p
          input(type = "submit" value = "Enviar")
    //div.divLaterales  
  div.container    